%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
  .container
    %a.navbar-brand{:href => "/"} 吃音相談サイト kistuon
    %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      / この下の行に mr-auto クラスを付与するだけ
      %ul.navbar-nav.mr-auto
        　
        %li.nav-item
          %a.nav-link{:href => "#"} Home
        %li.nav-item
          %a.nav-link{:href => "#"} About
      %ul.navbar-nav
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"} Another action
            .dropdown-divider
            %a.dropdown-item{:href => "#"} Something else here
        %li.nav-item
          %a.nav-link{:href => "#"} メンバー登録
        %li.nav-item
          %a.nav-link{:href => "#"} ログイン
.container-fluid
  .row.pt-md-5
    .col-md-2
    .col-md-8
      .row
        .col-md-8
          %h2
            吃音相談サイト kitsuon
          %p
            このサイトは、吃音当事者同士が助け合う相談サイトです。
            吃音者当事者の経験は、ある悩みを抱えた吃音者当事者にとって、すごく価値のある経験だと信じています。
            その価値ある経験を、悩みのある吃音当事者に提供してみませんか？？
            またこのサイトを利用する際は、優しい気持ちを持って回答し、感謝の気持ちを持ってお礼をしましょう。
          %p
            %a.btn{:href => "#"} このサイトを立ち上げた思い »
        .col-md-4.pt-md-5.pl-md-5
          %button.btn.btn-lg.btn-success{:type => "button"}
            相談してみる
    .col-md-2
  .row
    .col-md-2
    .col-md-8
      .row
        .col-md-10
          #tabs-210391.tabbable
            %ul.nav.nav-tabs
              %li.nav-item
                %a.nav-link.active{"data-toggle" => "tab", :href => "#tab1"} 新しい質問
              %li.nav-item
                %a.nav-link{"data-toggle" => "tab", :href => "#tab2"} 学校
              %li.nav-item
                %a.nav-link{"data-toggle" => "tab", :href => "#tab2"} 仕事
              %li.nav-item
                %a.nav-link{"data-toggle" => "tab", :href => "#tab2"} 就活
              %li.nav-item
                %a.nav-link{"data-toggle" => "tab", :href => "#tab2"} 恋愛
              %li.nav-item
                %a.nav-link{"data-toggle" => "tab", :href => "#tab2"} その他
            .tab-content
              #panel-27700.tab-pane.active.pt-md-3
                %p
                  学校に関する悩み
              #tab2.tab-pane.pt-md-3
                %p
                  仕事に関する悩み
          .row
            .col-md-4.pt-md-3
              .card
                %h6.card-header
                  タイトル
                .card-body
                  %p.card-text
                    私は就活中です。どうしたらよろしいでしょうか？？
                .card-footer
                  タグ 櫻井さん 20代後半 学生
            .col-md-4.pt-md-3
              .card
                %h6.card-header
                  タイトル
                .card-body
                  %p.card-text
                    私は就活中です。どうしたらよろしいでしょうか？？
                .card-footer
                  タグ 櫻井さん 20代後半 学生
            .col-md-4.pt-md-3
              .card
                %h6.card-header
                  タイトル
                .card-body
                  %p.card-text
                    私は就活中です。どうしたらよろしいでしょうか？？
                .card-footer
                  タグ 櫻井さん 20代後半 学生
            .col-md-4.pt-md-3
              .card
                %h6.card-header
                  タイトル
                .card-body
                  %p.card-text
                    私は就活中です。どうしたらよろしいでしょうか？？
                .card-footer
                  タグ 櫻井さん 20代後半 学生
            .col-md-4.pt-md-3
              .card
                %h6.card-header
                  タイトル
                .card-body
                  %p.card-text
                    私は就活中です。どうしたらよろしいでしょうか？？
                .card-footer
                  タグ 櫻井さん 20代後半 学生
            .col-md-4.pt-md-3
              .card
                %h6.card-header
                  タイトル
                .card-body
                  %p.card-text
                    私は就活中です。どうしたらよろしいでしょうか？？
                .card-footer
                  タグ 櫻井さん 20代後半 学生
            .col-md-4.pt-md-3
              .card
                %h6.card-header
                  タイトル
                .card-body
                  %p.card-text
                    私は就活中です。どうしたらよろしいでしょうか？？
                .card-footer
                  タグ 櫻井さん 20代後半 学生
            .col-md-4.pt-md-3
              .card
                %h6.card-header
                  タイトル
                .card-body
                  %p.card-text
                    私は就活中です。どうしたらよろしいでしょうか？？
                .card-footer
                  タグ 櫻井さん 20代後半 学生
            .col-md-4.pt-md-3
              .card
                %h6.card-header
                  タイトル
                .card-body
                  %p.card-text
                    私は就活中です。どうしたらよろしいでしょうか？？
                .card-footer
                  タグ 櫻井さん 20代後半 学生
          %nav.pt-md-5.pb-md-3
            %ul.pagination
              %li.page-item
                %a.page-link{:href => "#"} Previous
              %li.page-item
                %a.page-link{:href => "#"} 1
              %li.page-item
                %a.page-link{:href => "#"} 2
              %li.page-item
                %a.page-link{:href => "#"} 3
              %li.page-item
                %a.page-link{:href => "#"} 4
              %li.page-item
                %a.page-link{:href => "#"} 5
              %li.page-item
                %a.page-link{:href => "#"} Next
        .col-md-2
    .col-md-2
  .row
    .col-md-2
    .col-md-8
      %h3.text-left
        質問一覧
      .row
        .col-md-10.pb-md-4
          .row
            .col-md-6.pt-md-2
              .card
                %h5 学校に関する悩み
            .col-md-6.pt-md-2
              .card
                %h5 仕事に関する悩み
            .col-md-6.pt-md-2
              .card
                %h5 就活に関する悩み
            .col-md-6.pt-md-2
              .card
                %h5 恋愛に関する悩み
            .col-md-6.pt-md-2
              .card
                %h5 その他の悩み
%footer.footer.border-top.pt-md-2
  .container
    .row
      .col-md-2
      .col-md-8
        .row
          .col-md-3
            %p プライバシーポリシー
          .col-md-3
            %p 運営に関して
          .col-md-3
            %p コンセプト
          .col-md-3
            %p 掲示板のルール
      .col-md-2


