- if flash[:notice]
  #foo.alert.alert-success.mb-0.text-center.rounded-0
    = flash[:notice]
.container-fluid
  .row
    .col-md-3.col-sm-12
    .col-md-6.col-sm-12.mt-4
      = render "partial/show_question_card", {question: @question}
      .mt-4
        - if @answers.present?
          = render partial: "partial/show_answer_card", collection: @answers, as:"answer"
        - else
          %p 現在回答がありません
      .mt-4.my-4
      - if user_signed_in?
        = render "partial/answer_form"
