.container-fluid
  .row
    .col-md-3.col-sm-1
    .col-md-6.col-sm-10.col-12.line-height_docs.small
      %h2.mt-3 吃音Q＆Aの思い
      %h4.mt-3.main-color-bottom-border 吃音Q＆A運営について
      %p 吃音Q＆Aをご利用いただき誠にありがとうございます。吃音Q＆Aの運営代表の櫻井です。<br><strong>吃音Q&Aは個人運営のwebサービス</strong>になります。
      .text-center
        = image_tag "admin_user.png", class: ' avatar-image image_trimming',alt: "avatar 吃音"
      .text-center
        = link_to "twitterのアカウント","https://twitter.com/LoxKCmMC1aHPgzV"
      .text-center
        = link_to "さくらい@きつおんエンジニア","https://twitter.com/LoxKCmMC1aHPgzV"
      .text-center
        = link_to "お問い合わせはこちら","https://docs.google.com/forms/d/e/1FAIpQLSca4fJUzG0IY_HgR9blCm0gBzx2jQnSdy7lcwh2VyCygJcBLw/viewform"
      %h4.mt-3.main-color-bottom-border 吃音Q＆Aとは？
      %p 吃音Q&Aは
      %ul
        %li <strong>・吃音で悩む当事者が質問し</strong>
        %li <strong>・質問に関して知見のある吃音当事者が回答する</strong>
      %p.mt-3 吃音当事者が助け合うQ&Aサービスです
      %h4.mt-3.main-color-bottom-border なぜ吃音Q＆A？？
      %p 私自身も吃音当事者で、特に学生時代は吃音に悩みながら生きていました。<br>２７歳の転職を機に、ボランティアで吃音の方の就労支援をさせて頂いており、この２年間で、<br>様々な形で５０名近くの吃音者の相談に乗ってきました。<br>そして私のアドバイスで、解決できた方もいましたし、解決できなかった方もいます。<br>的確なアドバイスをできたかわかりませんが、相談に乗ることで、悩みを共感し、悩んでる方が前に進む姿をみて来ました。
      %p その中で
      %ul
        %li <strong>・悩みを持つ多くの方が、相談できる場所がない。</strong>
        %li <strong>・誰かに相談しても共感してもらえない。</strong>
        %li <strong>・ほしい情報がない。</strong>
      %p.mt-3 など多くの課題がありました。<br>また数名のスタッフで相談の対応をするのにも、時間的な制限もあり、それも課題でした。<br>そして、<strong>多くの当事者は悩んでいる当事者を助けたいと思っている</strong>ことがわかりました。<br>これらの課題を解決するために吃音者同士のQ＆Aサービスを作りました。
      %p.mt-1 一般に、人口の１％は吃音を持っていると言われています。<br>日本だと約120万人です。それだけ吃音を持ちながら生きて得た経験があります。<br><strong>その経験を、同じような境遇にいる方へ共有したい</strong>という思いもあります。
      %p.mt-1 吃音Q＆Aに皆様の悩み、回答を蓄積することで、これから吃音で悩む方を少しでも後押しできるサービスなればと思っています。<br>まだリリースしたばかりの個人のWEBサービスですが、<br><strong>吃音で悩んでいる方は、気軽に悩みを相談して</strong>、<br><strong>回答者は、共感の気持ちを持って回答していただければと思います。</strong>
      %p.mt-1 今後はQ＆Aだけではなく、自分の吃音のストーリーなどを共有できる機能なども検討し、拡張して行く予定です。<br>もしいい案があれば問い合わせよりご連絡頂けると幸いです。
