.container-fluid
  .row
    .col-md-2.col-sm-12
    .col-md-8.col-sm-12.line-height_docs.small
      %h3.mt-3 吃音Q＆Aの思い
      %p 吃音Q＆Aをご利用いただき誠にありがとうございます。吃音Q＆Aの運営の櫻井です。
      .text-center
        = image_tag "admin_user.png", class: ' avatar-image image_trimming',alt: "avatar 吃音"
      .text-center
        = link_to "twitterのアカウント","https://twitter.com/LoxKCmMC1aHPgzV"
      .text-center
        = link_to "さくらい@きつおんエンジニア","https://twitter.com/LoxKCmMC1aHPgzV"
      %h4.mt-1.main-color-bottom-border なぜ吃音Q＆A？？
      %p 私自身も吃音当事者で、特に学生時代は吃音に悩みながら生きていました。<br>２７歳の転職を機に、ボランティアで吃音の方の就労支援をさせて頂いており、この２年間で、<br>いろんな形ですが５０名近くの吃音者の相談に乗ってきました。<br>そして私のアドバイスで、解決できたって方もいましたし、解決できなかった方もいます。<br>的確なアドバイスをできたかわかりませんが、相談に乗ることで、悩みを共感し、悩んでる方が前に進む姿をみて来ました。
      %p.mt-1 世の中には人口の１％は吃音を持っていると言われています。<br>日本だと約120万人です。それだけ吃音を持ちながら生きて得た経験があります。<br>それを特に同じような境遇に悩む人に共有をできればと思っています。
      %p.mt-1 吃音Q＆Aに皆様の悩み、回答を蓄積することで、これから吃音で悩む方を少しでも後押しできるサービスなればと思っています。<br>まだリリースしたばかりの個人のWEBサービスですが、<br><strong>吃音で悩んでいる方は、気軽に悩みを相談して</strong>、<br><strong>回答者は、共感の気持ちを持って回答していただければと思います。</strong>
      %p.mt-1 今後はQ＆Aだけではなく、自分の吃音のストーリーなどを共有できる機能なども検討し、拡張して行く予定です。<br>もしいい案があれば問い合わせよりご連絡頂けると幸いです。
