.container-fluid
  .row
    .col-md-3.col-sm-1
    .col-md-6.col-sm-10.col-12.line-height_docs.small
      .text-center.mt-3
        = image_tag "vr-1.png", class: "mg-fluid"
      %h4.mt-5.main-color-bottom-border 吃音VRに関するアンケートのお願い
      %p 以下、吃音VRの梅津さんからのコメントです。<br>吃音者の就労支援をしているどーもわーくに関わりながら、どーもわーくとは別に吃音VRの開発と研究をしている梅津です。
      %p 吃音で困っている方で、日常的な場面で苦手なシーンって多いですよね、例えば電話とか。<br>それを何度も練習できたら、いいなと考えており、今は面接、プレゼン、自己紹介のVRを作っています。<br>でも、吃音の症状は一人一人違うし、特徴もバラバラなので、多くの人の苦手なシーンを知ることで、より吃音者に寄り添い価値のあるVRができると考えています。今後は言語聴覚士や臨床心理士にも監修してもらう予定です。<br>そのためにどんなシーンで一番困っているのかを教えていただけるとありがたいです！<br>5分ほどで終わる簡単なものなので、ご協力お願いします！


      %h5.mt-2
        = link_to "アンケートはこちら googleフォーム" , "https://docs.google.com/forms/d/e/1FAIpQLSeR3xa01LRNbGbhS2QBUUVMThUXmYwdOKkg6ojbhDCqM2doZw/viewform"
      %p *こちらのアンケートに関しては吃音Q&Aが広報協力をしております。
      .card.p-2.mb-3
        %ul
          %li 梅津円
          %li Facebook：https://www.facebook.com/madoka.umetsu.1
          %li Twitter：@MarkRifu
          %li Gmail：infoadversity@gmail.com
          %li HP：https://infoadversity.wixsite.com/adversity


