.container-fluid
  .row
    .col-md-2.col-sm-12
    .col-md-8.col-sm-12.line-height_docs
      %h4.mt-3 プライバシーポリシー
      %p 本サービスの運営グループ（以下「運営」という）のプライバシーに関する方針は、以下の通りです。「個人情報」とは、個人情報保護法に定める個人情報を指すものであり、生存する個人に関する情報であり、氏名、住所、電話番号など特定個人を識別できる情報を指します。
      %h5.mt-5.main-color-bottom-border 個人情報の取得
      %p 利用者がIDの登録を行う場合にメールアドレスなどを取得します。また、お問い合わせやその他本サービスの運営上、利用者を特定する必要があり、連絡先を確認する必要がある場合にはメールアドレスなどの個人情報を取得する場合があります。  運営が本サービスにおいて個人情報を取得する機会は、本サービスの更新などによって変更されます。運営が取得した個人情報は、本サービスを提供するために必要なものに限られています。
      %h5.mt-5.main-color-bottom-border 個人情報の利用目的
      %p 運営は、運営が取得した個人情報を、主として次の目的で利用します。
      %ul.list-unstyled
        %li (1)利用者の本人確認、本サービス利用のために必要な審査  
        %li (2)本サービスの利用者管理  
        %li (3)お知らせや連絡をメールやメールマガジンで配信  
        %li (4)利用者からのお問い合わせ対応  
        %li (5)本サービスを改善するための調査、活動
        %li (6)利用者の行動、性別、本サービス内でのアクセス履歴などを用いたターゲティング広告の配信
        %li (7)本サービスの利用規約に反したり、不正な目的でサービスを利用しようとする方のご利用をお断りすること  
        %li (8)その他、本サービスを改善するために利用者の同意を得た範囲内において
      %h5.mt-5.main-color-bottom-border データの利用
      %p 運営が、取得した個人情報をもとに社内外へのデータ開示などを行う場合には、個人を特定できない形式でデータを作成して開示を行うものとします。運営は、データの利用および開示について何ら制限を受けないものとします。
      %h5.mt-5.main-color-bottom-border 個人情報の第三者提供への提供
      %p 運営は、法令に定める場合を除き、個人情報を運営のサービス利用者にあらかじめ同意を得ることなく第三者に提供しないものとします。ただし、以下の場合には、運営は個人情報を第三者に提供することがあります。
      %ul.list-unstyled
        %li・法令により運営に個人情報の提供義務が定められている場合  
        %li・サービス利用者が法令などに反し、第三者または運営の権利、財産、サービスなどを保護するために必要と認められる場合であって、本人の同意を得ることが困難な場合  
        %li・人の生命、身体および財産の保護のために、緊急の必要性があり、本人の同意を得ることが困難な場合  
        %li・運営が事業を第三者に譲渡する場合で、運営から事業譲渡を受けた第三者に譲渡する場合 
        %li・その他サービス提供のために必要であると運営が合理的に判断した場合
      %h5.mt-5.main-color-bottom-border 本人確認について
      %p 運営は、個人情報の開示、訂正、削除の依頼に応じる場合など、個人を識別できる情報により、サービス利用会員本人であることを確認します。本人以外が個人を識別できる情報を入手し使用した場合、運営は責任を負わないものとします。
      %h5.mt-5.main-color-bottom-border プライバシーポリシーの変更及び通知
      %p 運営は、プラバシーポリシーを、あらかじめ予告なく変更することがあります。本サービスのご利用には、最新のプライバシーポリシーをご確認ください。
