.container-fluid
  .row
    .col-md-2.col-sm-12
    .col-md-8.col-sm-12.line-height_docs.small
      %h1.mt-3 本サービス利用規約
      %p 質問や回答は、閲覧するみなさまにも有益なQ&Aサービスとなるように公開を前提としています。そのため、投稿いただく質問は、ルールやマナーを守ってご利用いただけますようお願い申し上げます。禁止事項に反する投稿については、運営グループで削除などを行うことがありますのでご注意ください。
      %h2.mt-5 第1章 総則
      %h4.mt-1.main-color-bottom-border 第1条 （本規約の適用範囲及び変更）
      %li 1. 本サービス一般利用規約（以下、「本規約」といいます。）は、運営グループ（以下、「当運営」といいます。）が「kitsuon」の名称で運営するサービス（以下「本サービス」といいます。）を利用する全ての方（以下「利用者」といいます。）に適用されます。利用者のうち本サービスに会員登録した方を会員（以下「会員」といいます。）と定義します。  
      %li 2. 当運営が必要と判断した場合には、利用者にあらかじめ通知することなくいつでも本規約を変更することができるものとします。本サービスのサイト上に全文を掲載することで直ちに発効し利用者に適用されるものとします。当該変更の後、利用者が本サービスを利用した場合には、当該変更の内容に同意したものとみなします。
      %h4.mt-5.main-color-bottom-border 第2条 (本サービスのご利用)
      %p 本規約にご同意いただくことによって、本サービスをご利用いただくことができます。利用者が本サービスをご利用した場合、本規約に同意してご利用したものとみなします。
      %h4.mt-5.main-color-bottom-border 第3条 （本サービスの内容）
      %ul
        %li 本サービスにおいて、会員は次のサービスを利用できます。
        %ul
          %li ・質問及び回答の投稿 
          %li ・回答に対するコメント
          %li ・本サービスの情報閲覧 
          %li ・当運営が随時提供を開始するサービス 
        %li 2. 当運営は、利用者にあらかじめ通知をすることなく、いつでも本サービスの内容や仕様を変更したり、提供の停止や中止をできるものとします。ただし、本サービスの全部を停止または中止する場合には、当運営が適切と判断する方法で、あらかじめ利用者にその旨を通知するものとします。
        %li 3. 当運営は、会員に対して、当運営サービスに関するご案内その他の広告を内容とするメールを送信することができるものとします。
      %h2.mt-5 第2章 会員
      %h4.mt-1.main-color-bottom-border 第4条 （会員登録）
      %ul
        %li 1. 本サービスにおいて、一部のサービスのご利用にはIDを登録いただく必要があります。IDを登録いただく場合には、本サービスをご利用になる個人または法人自身が行うものとし、真実かつ正確な情報を登録いただくこと、最新の登録情報に適宜修正いただくものとします。  
        %li 2. 当運営は、第1項に基づきID登録を申請した利用者が、以下の各号のいずれかにあてはまる場合は、あらかじめ通知することなしに登録を拒否、取り消しすることができるものとします。
        %ul
          %li ・本規約に違反するおそれ、または明らかに違反があると当運営が判断した場合  
          %li ・当運営に提供されたID登録情報に虚偽、重要な誤記、記載漏れがあった場合 
          %li ・過去に会員の登録取消処分を受けたことがあることが判明した場合 
          %li ・会員が最後にマイページにログインした日から当運営が指定する一定期間が経過した場合
          %li ・その他、当運営が会員登録を不適切であると判断した場合
      %h4.mt-5.main-color-bottom-border 第5条（会員登録情報の変更、退会
      %ul
        %li 1. 会員は、メールアドレスその他、会員登録情報に変更が生じた場合は、当運営が別途指定する方法により当運営に届け出るものとします。  
        %li 2. 当運営は、会員が本サービス内で使用するニックネーム(名前)など公開情報が不適切であると判断する場合には、当運営の裁量により当該公開情報を変更することができるものとします｡  
        %li 3. 会員は、当運営所定の手続に従い、退会することができるものとします。退会される場合は、本サービスに登録いただいたメールアドレスからお問い合わせから退会希望の旨をお知らせください。退会後においても会員が退会前に投稿したコンテンツは削除されないものとします。
      %h2.mt-5 第3章 本サービスの利用
      %h4.mt-1.main-color-bottom-border 第6条 （禁止事項）
      %ul
        %li 利用者は、本サービスのご利用にあたって以下の行為（それらのおそれのある行為も含みます）を行ってはならないものとします。
        %li ・法令に違反する行為
        %li ・公序良俗に反する行為
        %li ・第三者または当運営の知的財産権、肖像権、プライバシー、名誉、その他の権利または利益を侵害する行為
        %li ・個人情報（個人名、電話番号、住所、メールアドレスなど）を質問で公開する行為 
        %li  ・他人を誹謗中傷、名誉や信用を毀損する行為 
        %li  ・人種、信条、性別、社会的身分、門地などによる差別行為 
        %li  ・他人もしくは当運営の経済的損害、精神的損害を与える行為 
        %li  ・不当な要求の繰り返しなど、回答者への応答や対応を強要する行為
        %li ・自殺や死を誘発する行為  
        %li ・宗教、および宗教団体を批判、是非を問う行為  
        %li ・本サービスの商用利用、営利を目的とした行為 
        %li ・本サービスの運営または信頼を妨げる行為  
        %li ・勧誘あるいは広告の掲載行為  
        %li ・その他当運営が不適切と判断する行為
      %h4.mt-5.main-color-bottom-border 第7条（本サービスの利用停止、ID削除、投稿などの削除、編集）
      %ul
        %li 1. 会員が行った質問に回答がついた場合には、会員は該当する質問を編集、削除できません。質問に個人を特定される恐れのある内容を記載しないなどご注意ください  
        %li 2. 当運営は、本サービスが適正に運営されるために、以下の場合にはあらかじめ通知することなく、本サービスの利用を停止、IDの削除、投稿されたコンテンツの削除または編集をできるものとします。 
      %ul
        %li ・第6条の禁止行為に該当する場合
        %li ・本サービスの運営上必要であると当運営が判断した場合 
        %li ・その他当運営が削除または編集が必要であると判断したとき
        %li 3. 当運営は、本サービスの運営、保守管理上必要と判断した場合、利用者の本サービスの利用履歴その他お問い合わせ内容などを利用する場合があります。  
        %li 4. 当運営または当運営が指定した者は、本条の規定に従い、投稿内容を削除・編集したこと、又は投稿内容を削除・編集しなかったことにより、利用者もしくは第三者に発生した損害について、一切責任を負わないものとします。
      %h4.mt-5.main-color-bottom-border 第8条 （ユーザー名及びパスワードの管理）
      %ul
        %li 1. 会員は、自己の責任において、本サービスを利用する際のメールアドレス及びパスワードを管理するものとします。
        %li 2. 会員は、メールアドレス及びパスワードを第三者に貸与、譲渡、売買などを通じて利用させてはならないものとします。
        %li 3. メールアドレス及びパスワードの第三者による利用による被った損害の責任は、理由にかからわず会員が負うものとし、当運営は損害から一切免責されるものとします。
      %h4.mt-5.main-color-bottom-border 第9条 （本サービスの停止又は中断）
      %ul
        %li 1.当運営は、以下の各号のいずれかの事象が発生した場合には、利用者へあらかじめ通知することなく本サービスの中断または停止を行うことができるものとします。
        %ul
          %li ・本サービスに関連するシステムの保守を事前計画的または緊急に行う場合
          %li ・停電、火災、天災などの不可抗力により本サービスの提供ができなくなった場合  
          %li ・その他当運営が本サービスの中断または停止が必要と判断した場合
        %li 当運営は、理由の如何を問わず、前項に定める事由により本サービスが中断または停止したことにより、利用者が被った損害から一切免責されるものとします。
      %h4.mt-5.main-color-bottom-border 第10条 （著作権など）
      %ul
        %li 1.会員が本サービスに投稿を行った時点で、その内容についてすべての著作権（著作権法第27条、同第28条に定める権利を含む）は当運営に帰属します。会員は、会員が本サービスを利用し投稿した情報に関して、当運営または当運営の提携先に対して、無償で、複製、使用、編集、改編、掲載、転載、公衆送信、上映、展示、提供、販売、譲渡、貸与、翻訳、翻案などができる権利および二次的著作物に関する現著作権者の権利（著作権法２１条ないし２８条の権利をいい、商用利用を含む）を期限の定めなく承諾したものとします。なお、会員は著作者人格権を行使しないものとします。
        %li 2.当運営は、本サービスにおける投稿内容について、自由に審査、掲載可否の判断、投稿の編集、削除をすることができるものとします。
      %h4.mt-5.main-color-bottom-border 第11条 （免責)
      %ul
        %li 1. 本サービスは、会員（質問者）と回答者（会員）（以下「回答者」といいます。）が情報をやりとりする場を提供するものであり、当運営は本サービスが提供する情報について、情報の正確性、完全性、有用性などいかる保証もするものではありません。
        %li 2. 回答者が提供する情報については、ご利益や改善を保証するものではありませんので、利用者はこのことを十分に認識し自己の責任において本サービスを利用するものとします。
        %li 3. 本サービスの利用において利用者が被った損害に対して当運営は一切の賠償責任を負わないものとします。
        %li 4. 利用者は、本サービスに関連した回答を行う回答者に対して損害賠償請求を行わないものとします。ただし回答者が故意に利用者に損害を生じさせようとした場合を除きます。
        %li 5. 本サービスの利用に関連して、利用者が他の利用者または第三者に対して損害を与えた場合、または紛争を生じた場合、当該利用者は自己の費用と責任で解決するものとし、当運営にいかなる迷惑および損害を与えないものとします。
        %li 6. 本サービスには、第三者の広告が含まれる場合があります。広告には他のサイトへのリンクを含んでいる場合がありますが、これら第三者のサイトは当運営の管理下にはなく、当運営はこれら第三者のサイトについての責任は負わないものとします。 
        %li 7. その他本サービスに関連して発生した利用者の損害について、当運営は本規約にて明示的に定める以外、一切責任を負わないものとします。
      %h4.mt-5.main-color-bottom-border 第12条 （損害賠償）
      %p 利用者は、本規約に違反することにより、または本サービスの利用に関連して当運営に損害を与えた場合、当運営に対しその損害を賠償しなければなりません。
      %h4.mt-5.main-color-bottom-border 第13条 （連絡及び通知）
      %ul
        %li 1. 本サービスに関する会員への通知方法は、当運営の定める方法（本サービス上の告知、電子メール、メールマガジンなど）に従うものとします。  
        %li 2. 本サービスに関する会員に対する通知が前項に定める方法に従ってなされた場合には、会員は当該通知を受領したものとみなします。
      %h4.mt-5.main-color-bottom-border 第14条 （本サービスの譲渡等）
      %p 当運営は、本サービスの営業を第三者に譲渡した場合には、当該営業譲渡に伴い、本サービスの運営者たる地位、本規約に基づく権利及び義務並びに会員の登録情報その他情報を当該営業譲渡の譲受人に譲渡することができるものとし、会員は、会員たる地位、本規約に基づく権利及び義務並びに会員の登録情報その他情報の譲渡につき本条によりあらかじめ同意するものとします。
      %h4.mt-5.main-color-bottom-border 第15条（準拠法）
      %p 本規約の成立、効力、履行及び解釈に関しては、日本法が適用されるものとします。
      %h4.mt-5.main-color-bottom-border 第16条 （合意管轄）
      %p 本規約に起因又は関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
