%footer.footer.border-top.bg-white
  .container
    .row
      .col-md-2.col-sm-12
      .col-md-8.col-sm-12
        .row
          %ul.list-inline.small.mx-auto.p-1.text-center
            %li.list-inline-item.my-2
              = link_to "このサイトの思い" ,docs_about_service_path
            %li.list-inline-item.my-2
              = link_to "利用規約" ,docs_term_of_use_path
            %li.list-inline-item.my-2
              = link_to "プライバシーポリシー" ,docs_privacy_policy_path
            %li.list-inline-item.my-2
              = link_to "問合せ" ,"https://docs.google.com/forms/d/e/1FAIpQLSca4fJUzG0IY_HgR9blCm0gBzx2jQnSdy7lcwh2VyCygJcBLw/viewform"