%footer.footer.border-top.pt-md-2
  .container
    .row
      .col-md-2
      .col-md-8
        .row
          .col-md-3
            %p プライバシーポリシー
          .col-md-3
            %p 運営に関して
          .col-md-3
            %p コンセプト
          .col-md-3
            %p 掲示板のルール
      .col-md-2
