%footer.footer.border-top.pt-md-2
  .container
    .row
      .col-md-2
      .col-md-8
        .row
          .col-md-3
            = link_to "プライバシーポリシー" ,docs_privacy_policy_path
          .col-md-3
            = link_to "利用規約" ,docs_term_of_use_path
          .col-md-3
            %p コンセプト
          .col-md-3
            %p 掲示板のルール
      .col-md-2
