.card.p-2.rounded-0
  %h6 新着の質問
  %p title
  %p title
  %p title
  %p title
  %h6 学校に関する質問
  %p title
  %p title
  %p title
  %p title
  %h6 仕事に関する質問
  %p title
  %p title
  %p title
  %p title
  %h6 就活に関する質問
  %p title
  %p title
  %p title
  %p title
  %h6 恋愛に関する質問
  %p title
  %p title
  %p title
  %p title
  %h6 その他の質問
  %p title
  %p title
  %p title
  %p title
