.card.rounded-0
  .m-3
    %h2 吃音相談サイト kitsuon
    .small.mt-2 このサイトは、吃音当事者同士が助け合う相談サイトです。
    %p.mt-3
      吃音者当事者が壁を乗り越えた経験 ある悩みを抱えた吃音者当事者にとって、すごく価値あるものです。
      その価値ある経験を、共有しませんか？
      またこのサイトを利用する際は、優しい気持ちを持って回答し、感謝の気持でお礼をしましょう。
  = link_to "相談してみる" , new_question_path , class: " btn btn-lg btn-success mx-auto mb-3 text-white"

