.card.rounded-0
  .m-4.text-center
    %h1 吃音 Q&A
    .small.line-height_docs 吃音を持つ当事者同士が助け合う相談サイトです。
    .small.line-height_docs 吃音に関する質問をしてみましょう
  - if user_signed_in?
    = link_to "質問してみる" , new_question_path , class: " btn btn-lg btn-main mx-auto mb-3 text-white shadow"
  - else
    = link_to "質問してみる" , new_user_registration_path , class: " btn btn-lg btn-main mx-auto mb-3 text-white shadow"
