.container
  .row
    .col-md-3
    .col-md-6
      %form.pt-md-4
        %label.h3 ログイン
        .form-group
          %label{:for => "exampleFormControlInput1"} Email アドレス
          %input#exampleFormControlInput1.form-control{:placeholder => "name@example.com", :type => "email"}/
        .form-group
          %label{:for => "exampleFormControlInput1"} パスワード
          %input#exampleFormControlInput1.form-control{:placeholder => "パスワード", :type => "passwaord"}/
        %button.btn.btn-primary{:type => "submit"} ログイン
