.YELLOW{
  color: #f8e469;
  }
.GREEN{
  color: #9ac29f;
  }
.PURPLE{
  color: #e1d4e6;
  }

$answer-color: #b2d6d4;
$base-color: #dd9b9d;
// $mainYellowColor: #e7e0aa;
// $mainYellowColor: #e3be87;
// $mainYellowColor: #f5dfa6;
// $mainYellowColor: #d9de84;
// $mainYellowColor: #edef9c;
// $mainYellowColor: #ebeddf;
// $mainYellowColor: #e4bd60;
