/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free tle so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directoryo add application-wide styles to this file and they'll appear at the bottom of the
 * compiled fi. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "reset";
@import "variable";
@import "docs";


body {
  background-color: #f7f7f7;
}

.main-color {
  background-color: $base-color;
}

.main-color-bottom-border{
  border-bottom: 2px solid $base-color;
}

.answer-color{
  background-color: $answer-color;
}

.answer-color-bottom-border{
  border-bottom: 2px solid $answer-color;
}

.logo-image{
  height: 50px;
  width: 50px;
}

.image_trimming{
  object-fit: cover;
}

.relative{
  position: relative;
}

.avatar-image{
  height: 100px;
  width: 100px;
  border-radius:50%;
  // border: 1px solid $base-color;
}

.avatar-image-index{
  height: 50px;
  width: 50px;
  border-radius:50%;
  // border: 1px solid $base-color;
}

.avatar-image-comment{
  height: 25px;
  width: 25px;
  border-radius:50%;
  // border: 1px solid $base-color;
}

.avatar-default{
  position: relative;
  height:100px;
  width: 100px;
  border-radius:50%;
  // border: 1px solid $base-color;
  background-color: rgba(0, 0, 0, 0.3);
}

.avatar-preview{
  position: absolute;
  height:100px;
  width: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius:50%;
  // border: 1px solid $base-color;
}

.camera-psition{
  position: absolute;
  top: 35%;
  left: 30%;
}

.opacity{
  opacity: 0.5;
}

.displaynone{
  display: none;
}

#error_explanation li {
  color: red;
}

.modal-backdrop {
  z-index: 1010;
}
