/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free tle so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directoryo add application-wide styles to this file and they'll appear at the bottom of the
 * compiled fi. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "reset";
@import "variable";
@import "docs";
@import "custam_bootstrap";

body {
  background-color: #f7f7f7;
}

.main-color {
  background-color: $main-color;
}

.main-color-bottom-border{
  border-bottom: 2px solid $main-color;
}

.answer-color{
  background-color: $answer-color;
}

.answer-color-bottom-border{
  border-bottom: 2px solid $answer-color;
}

.logo-image{
  height: 50px;
  width: 50px;
}

.image_trimming{
  object-fit: cover;
}

.relative{
  position: relative;
}

.avatar-image{
  height: 100px;
  width: 100px;
  border-radius:50%;
  // border: 1px solid $main-color;
}

.avatar-image-header{
  height: 35px;
  width: 35px;
  border-radius:50%;
}

.avatar-image-index{
  height: 40px;
  width: 40px;
  border-radius:50%;
  // border: 1px solid $main-color;
}

.avatar-image-comment{
  height: 20px;
  width: 20px;
  border-radius:50%;
  // border: 1px solid $main-color;
}

.avatar-default{
  position: relative;
  height:100px;
  width: 100px;
  border-radius:50%;
  // border: 1px solid $main-color;
  background-color: rgba(0, 0, 0, 0.3);
}

.avatar-preview{
  position: absolute;
  height:100px;
  width: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius:50%;
  // border: 1px solid $main-color;
}

.camera-psition{
  position: absolute;
  top: 35%;
  left: 30%;
}

.opacity{
  opacity: 0.5;
}

.displaynone{
  display: none;
}

#error_explanation li {
  color: red;
}

// ヘッダーのモーダルを表示させるためにz-indexの値をオーバーライド
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
}

.page-link:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: lighten($main-color,10%);
    border-color: #dee2e6;
}

// bootstrapボタンのオーバーライド カラー変更
.btn-main {
  background: $main-color; //ボタンの背景色
  color: #fff; //ボタンのテキストの色
  border-color: $main-color;
}
.btn-main:hover, .btn-main:focus,
.btn-main:active, .btn-main:active:focus, .btn-main:active:hover, .btn-main:active.focus,
.btn-main.active, .btn-main.active:focus, .btn-main.active:hover, .btn-main.active.focus,
.open > .dropdown-toggle.btn-main,
.open > .dropdown-toggle.btn-main:hover,
.open > .dropdown-toggle.btn-main:focus,
.open > .dropdown-toggle.btn-main.focus,
.btn-main.disabled:hover, .btn-main[disabled]:hover, fieldset[disabled] .btn-main:hover,
.btn-main.disabled:focus, .btn-main[disabled]:focus, fieldset[disabled] .btn-main:focus,
.btn-main.disabled.focus, .btn-main[disabled].focus, fieldset[disabled] .btn-main.focus
// .btn-main:not(:disabled):not(.disabled).active,
// .btn-main:not(:disabled):not(.disabled):active,
// .show>.btn-main.dropdown-toggle
{
  background: darken($main-color,20%); //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
  color: #fff; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
  border-color: darken($main-color,20%);
}

// .btn-main.focus,
// .btn-main:focus {
//   box-shadow: 0 0 0 0.2rem fadein($main-color,20%);
// }

.btn-main.outline {
    border: 3px solid $main-color; //アウトラインのみのボタンの線の色
    color: #fff; //アウトラインのみのボタンのテキストの色
}


// bootstrapボタンのオーバーライド カラー変更
.btn-answer {
  background: $answer-color; //ボタンの背景色
  color: #fff; //ボタンのテキストの色
  border-color: $answer-color;
}
.btn-answer:hover, .btn-answer:focus,
.btn-answer:active, .btn-answer:active:focus, .btn-answer:active:hover, .btn-answer:active.focus,
.btn-answer.active, .btn-answer.active:focus, .btn-answer.active:hover, .btn-answer.active.focus,
.open > .dropdown-toggle.btn-answer,
.open > .dropdown-toggle.btn-answer:hover,
.open > .dropdown-toggle.btn-answer:focus,
.open > .dropdown-toggle.btn-answer.focus,
.btn-answer.disabled:hover, .btn-answer[disabled]:hover, fieldset[disabled] .btn-answer:hover,
.btn-answer.disabled:focus, .btn-answer[disabled]:focus, fieldset[disabled] .btn-answer:focus,
.btn-answer.disabled.focus, .btn-answer[disabled].focus, fieldset[disabled] .btn-answer.focus
// .btn-answer:not(:disabled):not(.disabled).active,
// .btn-answer:not(:disabled):not(.disabled):active,
// .show>.btn-answer.dropdown-toggle
{
  background: darken($answer-color,20%); //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
  color: #fff; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
  border-color: darken($answer-color,20%);
}

// .btn-answer.focus,
// .btn-answer:focus {
//   box-shadow: 0 0 0 0.2rem fadein($answer-color,20%);
// }

.btn-answer.outline {
    border: 3px solid $answer-color; //アウトラインのみのボタンの線の色
    color: #fff; //アウトラインのみのボタンのテキストの色
}

//以下コンテンツの高さ関係なくfooterをボトム配置する 
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

//gatter削除 bootstrap
.no-gutters {
  margin:0;
  padding:0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  margin:0;
  padding:0;
}


